@font-face {
    font-family: 'Roboto', sans-serif;
}

.logo {
    padding-top: 2em;
    text-align: center;
}

.titulo {
    padding-top: 3em;
    text-align: center;
    font-weight: bold;
    color: black;
}

.parrafo {
    padding-top: 2em;
    text-align: center;
    font-weight: bolder;
    color: gray;
}

.centroApp {
    padding-top: 2em;
}

.formulario {
    padding: 3.5em;
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(184, 184, 184, 0.56);
    -moz-box-shadow: 0px 0px 20px 0px rgba(184, 184, 184, 0.56);
    box-shadow: 0px 0px 20px 0px rgba(184, 184, 184, 0.56);
}

label {
    font-weight: bold;
    font-size: 20px;
}

.selects {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    color: #b8b8b8;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.inputs {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    color: #b8b8b8;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

input::placeholder {
    font-size: 20px;
    /* font-weight: bolder; */
    line-height: 1.5;
    color: #b8b8b8;
}

.content-btn {
    padding-top: 1em;
    text-align: center;
}

.button {
    color: #ffffff;
    padding: 10px 2em 10px 2em;
    font-weight: 500;
    background-color: #e33b65;
    border-radius: 30px;
}